<div class="footer">
    <br>
    {% include isso.html %}
    <br>
    <div>
        <a href="{{ site.website.source }}" title="Website content">Website content</a> is released under the
        <a href="{{ site.website.license.url }}" title="{{ site.website.license.name | escape }}">{{ site.website.license.name }}</a> license
    </div>
    <div>
    Website last compiled on <b>{{ site.time | date: '%F %T %z' }}</b>
    </div>
    <div>
        &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
    </div>
    {% if site.author.buymeacoffee %}
    <div>
        <a href="{{ site.author.buymeacoffee.url }}" title="{{ site.author.buymeacoffee.message | escape }}">{{ site.author.buymeacoffee.message }}</a>
    </div>
    {% endif %}
    <br>
    <br>
</div>
