<div class="top nav"><ul><li><a href="#main" title="Main content">Main content</a></li>
        {%- if page.permalink != '/sitemap/' -%}
<li><a href="{{ '/sitemap/' | relative_url }}" title="Sitemap">Sitemap</a></li>
        {%- endif -%}
	    {%- if page.permalink != 'index.html' and page.url != '/' -%}
<li><a href="{{ site.rooturl }}/" title="Home">Home</a></li>
	    {%- endif %}
        {%- if page.permalink != '/about/' -%}
<li><a href="{{ '/about/' | relative_url }}" title="About">About</a></li>
    	{%- endif %}
        {%- if page.permalink != '/jobs/' -%}
<li><a href="{{ '/jobs/' | relative_url }}" title="Jobs">Jobs</a></li>
    	{%- endif %}
	    {%- if page.permalink != '/software/' -%}
<li><a href="{{- '/software/' | relative_url -}}" title="Software">Software</a></li>
        {%- endif %}
        {%- if page.permalink != '/privacy-policy/' -%}
<li><a href="{{- '/privacy-policy/' | relative_url -}}" title="Privacy">Privacy</a></li>
        {%- endif -%}
<li><a href="{{- 'feed.xml' | relative_url -}}" title="Feed">Feed</a></li><li><a href="{{- site.author.social.mastodon -}}.rss" title="Mastodon">Mastodon</a></li></ul></div>
