{%- comment -%}SEO metas{%- endcomment -%}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- if page.title -%}
    {%- if page.is_software_changelog -%}
<title>{{- page.software_name }} changelog - {{ site.title -}}</title>
    {%- elsif page.is_software_release -%}
    {%- comment -%}Override the title in every release page to have a unique and coherent one {%- endcomment -%}
<title>{{- page.software_name }} version {{ page.software_version }} - {{ site.title -}}</title>
    {%- else --%}
<title>{{- page.title }} - {{ site.title -}}</title>
    {%- endif -%}
{%- else -%}
<title>{{- site.title -}}</title>
{%- endif -%}
{%- capture meta_description -%}{%- if page.is_software_changelog -%}{{- page.software_name }} changelog - {{ site.title -}}{%- elsif page.is_software_release -%}{{- page.software_name }} version {{ page.software_version }} - {{ site.title }}{%- elsif page.description -%}{{- page.description | truncate: site.meta.description_words -}}{%- elsif page.excerpt -%}{{- page.excerpt | strip_html | strip_newlines | truncate: site.meta.excerpt_words -}}{%- else -%}{{- site.description | truncate: site.meta.description_words -}}{%- endif -%}{%- endcapture -%}
<meta name="description" content="{{- meta_description -}}">
<link rel="icon" type="image/png" href="{{- site.rooturl -}}/assets/favicon.png">
{%- comment -%}https://www.filamentgroup.com/lab/load-css-simpler/{%- endcomment -%}
<link rel="stylesheet" href="{{- site.rooturl -}}/assets/core.css" media="print" onload="this.media='all'; this.onload=null;">
<link rel="alternate" type="application/atom+xml" title="{{- site.title -}}" href="{{- site.rooturl -}}/feed.xml">
{%- if page.is_post or page.is_home or page.is_about or page.is_404 or page.is_tags or page.is_sitemap or page.is_software or page.is_software_instructions or page.is_jobs or page.is_privacy_policy -%}
    {%- assign page_url = page.url -%}
{%- else -%}
    {%- assign page_url = page.url | append: ".html" -%}
{%- endif -%}
{%- comment -%}https://developers.google.com/search/docs/crawling-indexing/consolidate-duplicate-urls?hl=it{%- endcomment -%}
{%- if page.canonical_url -%}
    <link rel="canonical" href="{{- page.canonical_url -}}">
{%- else -%}
    <link rel="canonical" href="{{- page_url | prepend: site.rooturl -}}">
{%- endif -%}
{%- include open_graph_protocol.html -%}
