{%- assign img_data = page.images | where:"id",include.id -%}
{%- assign img_data = img_data[0] -%}

{%- include image_url.html img_data=img_data -%}

{%- if img_data.width -%}
    {%- assign width = img_data.width -%}
{%- else -%}
    {%- assign width = "300px" -%}
{%- endif -%}

{%- if img_data.alt -%}
    {%- assign alt = img_data.alt -%}
{%- else -%}
    {%- assign alt = "Image" -%}
{%- endif -%}

{%- if img_data.caption -%}
<figure>
    <a href="{{ url }}" target="_blank">
        <img src="{{ url }}" width="{{ width }}" alt="{{ alt }}">
        <figcaption>{{ img_data.caption }}</figcaption>
    </a>
</figure>
{%- else -%}
<figure>
    <a href="{{ url }}" target="_blank">
        <img src="{{ url }}" width="{{ width }}" alt="{{ alt }}">
    </a>
</figure>
{%- endif -%}
