<div class="nav">
    <ul>
{%- if page.previous.url -%}
{%- unless page.previous.url contains "META-" -%}
{%- if page.is_post -%}
{%- assign page_prev_url = page.previous.url -%}
{%- else -%}
{%- assign page_prev_url = page.previous.url | append: ".html" -%}
{%- endif -%}
<li><a href="{{- site.rooturl -}}{{- page_prev_url -}}" title="previous: {{- page.previous.title -}}">&lt;&lt;</a></li>
{%- endunless -%}
{%- endif -%}
{%- if page.is_home != true -%}
<li><a class="home" href="{{- site.rooturl -}}/" title="Back to Homepage">Home</a></li>
{%- endif -%}
<li><a href="#top-page" title="Back to top ">Top</a></li>
{%- if page.next.url -%}
{%- unless page.next.url contains "META-" -%}
{%- if page.is_post -%}
{%- assign page_next_url = page.next.url -%}
{%- else -%}
{%- assign page_next_url = page.next.url | append: ".html" -%}
{%- endif -%}
<li><a href="{{- site.rooturl -}}{{- page_next_url -}}" title="next: {{- page.next.title -}}">&gt;&gt;</a></li>
{%- endunless -%}
{%- endif -%}
    </ul>
</div>
