{%- comment -%}See https://gist.github.com/davidensinger/5431869{%- endcomment -%}
<meta content="{{ site.title }}" property="og:site_name">

{%- if page.title -%}
<meta content="{{ page.title | escape }}" property="og:title">
{%- else -%}
<meta content="{{ site.title | escape}}" property="og:title">
{%- endif -%}

{%- if page.title -%}
<meta content="article" property="og:type">
{%- else -%}
<meta content="website" property="og:type">
{%- endif -%}

{%- if page.description -%}
<meta content="{{ page.description | escape }}" property="og:description">
{%- else -%}
<meta content="{{ site.description | escape }}" property="og:description">
{%- endif -%}

{%- if page.url -%}
<meta content="{{ page.url | absolute_url }}" property="og:url">
{%- endif -%}

{%- if page.date -%}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="{{ site.rooturl }}/about/" property="article:author">
{% endif %}

{%- if page.images -%}
{%- if page.open_graph_protocol_default_image_id -%}
    {%- assign img_data = page.images | where:"id",page.open_graph_protocol_default_image_id -%}
    {%- assign img_data = img_data[0] -%}
{%- else -%}
    {%- comment -%}Get the first picture of a post if not specified otherwise.{%- endcomment -%}
    {%- assign img_data = page.images[0] -%}
{%- endif -%}
{%- include image_url.html img_data=img_data -%}
<meta content="{{ url }}" property="og:image">
{%- else -%}
<meta content="{{ site.rooturl }}/favicon.ico" property="og:image">
{%- endif -%}

{%- if page.tags -%}
    {%- for tag in page.tags -%}
<meta content="{{ tag | escape }}" property="article:tag">
    {%- endfor -%}
{%- endif -%}
