// See
// https://ethanschoonover.com/solarized/#features
body {
    background-color: #fffffa;
}

figure {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figcaption {
    text-align: center;
}

// Responsive.
@media screen and (max-width: 800px) {
  figure {
    margin-left: 5%;
    max-width: 300px;
    width: 100%;
  }
}

ul {
    list-style-type: circle;
}

// Suggested by Google Web Console.
li {
    margin: 8px;
}

// Remove the faked hr tag.
.markdown-body {
    h1,
    h2 {
        border-bottom: none;
    }
}

/* set the background color to black when client requests dark mode and invert the colors
 * from post by user lewisl9029: https://news.ycombinator.com/item?id=26472246
 * See also https://github.com/pages-themes/primer/issues/64
 */
/* Disabled, see
 * https://www.afasterweb.com/2016/01/31/css-filters-and-mobile-performance/
 *
 * Very poor performance on mobile if filter is enabled on the `html` tag
 * to fix the announcement bar position problem
 *
 * See also
 * https://stackoverflow.com/questions/52937708/why-does-applying-a-css-filter-on-the-parent-break-the-child-positioning
 */
/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000005;
        filter: brightness(.9) contrast(1.2) hue-rotate(180deg) invert(80%);
    }

    img {
        brightness(.6) contrast(1.2) invert(-80%) grayscale(50%);
    }
}

@media (prefers-color-scheme: light) {
    img {
        filter: grayscale(50%);
    }
}

// See also
// https://endtimes.dev/no-javascript-dark-mode-toggle/
// for an alternative
#color-mode:checked ~ .color-scheme-wrapper {
    background-color: black;
    filter: hue-rotate(180deg) invert(80%);
}
*/
