---
layout: default
---
{%- assign page_date = page.date | date: '%F' -%}
{%- assign page_updated = page.updated | date: '%F' -%}
<div class="post-page" itemscope itemtype="http://schema.org/BlogPosting">
<div class="post-base">
{%- if page.tags -%}
    <h2>Tags</h2>
    {%- assign page_tags = page.tags | sort -%}
    <div class="tag-list nav">
    <ul>
    {%- for tag in page_tags -%}
        <li>
        {%- assign tagg = tag | slugify -%}
        {%- capture link -%}{{- site.rooturl -}}/tags/#{{- tagg -}}{%- endcapture -%}
        <a href="{{- link -}}" title="{{ tag | escape }}">{{- tag -}}</a>
        </li>
     {%- endfor -%}
    </ul>
    </div>
    <hr>
{%- endif -%}
<div class="post-metadata">
    <h1 class="post-title" itemprop="name">{{- page.title -}}</h1>
    <div class="written-on">First written on <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page_date }}</time></div>
    {%- if page_updated < page_date -%}
    <div class="updated-on">*** ERROR: check front matter <b>updated</b> variable ***</div>
    {%- elsif page_date != page_updated -%}
    <div class="updated-on">Last updated on <time itemprop="dateModified" datetime="{{ page.updated | date_to_xmlschema }}">{{ page_updated -}}</time></div>
    {%- endif -%}
    <hr>
</div>

<article class="post" id="main" itemprop="articleBody">
{%- include anchor_headings.html html=content -%}
</article>
</div>
